@font-face {
    font-family: myFont;
    src: url('./Norse-Bold.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
}

#main-left{
    background-image: url('./leaf.jpg');
    background-size: cover;
    width: 35%;
    height: 100vh;
}

#logo-div{
    background-color: rgba(0, 0, 0, 0.6);
    height: 22%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    background: url('./logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 130px;
    height: 100%;
    margin-top: 5%;
}

#logo-div>p{
    font-family: myFont;
    font-size: 8rem;
    color: white;
}

#main-right{
    background-color: blue;
    width: 65%;
    height: 100vh;
}